.App{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

.app-1{
    background-color: red;
}

.run-btn{
    margin-top: 40px;
    margin-left:40px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.run-btn:hover{
    background-color: gray;
}

.code{
    color: white;
    background-color: blue;
}

.stack{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    /* row-gap: 2px; */
    width: 10%;
    height: 50%;
    margin-top: 20%;
    margin-left: 20%;
}
.stack-node{
    background-color: white;
    border-color: black;
    border-style: solid;

}