.App{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

.app-1{
    background-color: rgb(33, 31, 31);
}

.run-btn{
    margin-top: 40px;
    margin-left:40px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.run-btn:hover{
    background-color: gray;
}

.code{
    color: white;
    background-color: black;
}

.stack{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    row-gap: 2px;
    width: 80%;
    height: 10%;
    margin-top: 10%;
    margin-left: 10%;
}
.stack div{
    background-color: white;
    border-color: black;
    border-style: solid;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;

}


@media (min-width:768px) and (max-width:1000px) {
    .App{
        grid-template-columns:1fr 1fr;
    }
}


@media (min-width:550px)and(max-width:768px)  {
    .App{
        grid-template-columns:1fr 1fr;
    }
}

@media(max-width:550px)
{
    .App{
        grid-template-columns: 1fr;
    }
}